body {
  font-family: Open Sans;
  margin: 0px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  font-size: 14px;
  margin: 20px;
}

button {
  background-color: white;
  color: #a333c8;
  border: 2px #a333c8 solid;
  border-radius: 6px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 14px;
}

button.inverted {
  background-color: #a333c8;
  color: white;
}

nav ul li {
  list-style: none;
  font-weight: bold;
}

nav ul li.logo {
  color: #a333c8;
}

nav ul li.login {
  margin-left: 25%;
}

h1 {
  font-size: 52px;
}

section.intro {
  display: flex;
  align-items: center;
  margin-left: 50px;
  width: 95%;
  justify-content: space-around;
}

.intro button {
  margin: 20px auto;
  padding: 10px 40px;
}

.intro div {
  width: 40%;
}

.intro h1 {
  font-weight: 600;
  margin: 20px auto;
}

.picker-pic img {
  width: 80%;
}

section.purple {
  background-color: #a333c8;
  color: white;
  text-align: center;
  background-image: url('images/rake.svg');
  background-repeat: repeat;
}

section.purple a {
  color: white;
  font-style: italic;
}

h1.section-header {
  padding-top: 40px;
  margin-bottom: 10px;
}

p.subheader {
  max-width: 600px;
  margin: 0px auto;
}

.steps {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0px auto 75px;
}

.step {
  width: 30%;
}

.step h2 {
  font-size: 48px;
  text-align: left;
  margin-bottom: -40px;
}

.step img {
  width: 80%;
}

.full-bar {
  background-color: #82299F;
  padding: 10px;
}

.participating-gardens {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: 50px auto;
}

.participating-gardens .slider-info {
  width: 30%;
}

.participating-gardens .slider-info h1 {
  font-size: 24px;
}

.participating-gardens .slider-info p {
  font-size: 18px;
}

.slider .caption {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 10px auto;
}

.slider .caption .caption2 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  color: darkgray;
}

.slider .link {
  text-align: center;
  margin: 10px auto;
}

.slider .link a {
  color: gray;
  text-decoration: none;
  font-style: italic;
}


.slider img {
  border-style: solid;
  border-width: 2px;
  border-color: #4d4d4d;
  margin: 0 auto;
  width: 400px;
  height: auto;
}

.bx-wrapper {
  border-radius: 10px;
}

.bx-wrapper.shadow {
  box-shadow: 0 0 3px #82299f;
}
